<% if @message.present? %>
  <div class="registration-message">
    <%= @message %>
  </div>
<% end %>


<%= form_with model: @user, url: signup_path do |form| %>
    <div>
      <%= form.label :name %>
      <%= form.text_field :name, required: true %>
    </div>
    <div>
      <%= form.label :password %>
      <%= form.password_field :password, required: true %>
    </div>
<%= form.submit "Sign Up" %>
<% end %>
