<header>
  <div class="header">
    <div class="headerContainerTop headerContainer">
      <a href="<%= root_path%>">
        [logo here]
      </a>

    </div>
    <div class="headerContainerBottom headerContainer">
      <div class="categories">
        <%= render "layouts/nav/category", name: "Electronics", sub_categories: ["1", "2"] %>
        <%= render "layouts/nav/category", name: "Clothes" , sub_categories: ["1", "2"]%>
        <%= render "layouts/nav/category", name: "Home" , sub_categories: ["1", "2"]%>
        <%= render "layouts/nav/category", name: "Garden" , sub_categories: ["1", "2"]%>
        <%= render "layouts/nav/category", name: "Car", sub_categories: ["Engine", "Parts"] %>
        <%= render "layouts/nav/category", name: "Sport & Hobby", sub_categories: ["Football", "American football"] %>
      </div>

      <div class="searchBarContainer">
        <%= form_with(url: filetered_products_path, method: "get", class: "searchBar") do %>
          <button type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
            </svg>
          </button>
          <%= text_field_tag :search, params[:search], placeholder: "Search" %>
        <% end %>
      </div>
<!--      Logout and login-->
        <% if user_signed_in? %>
          Logged in as: <%= current_user.email %>
          <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete } %>


    <% else %>
          <%= link_to "Login", new_user_session_path %>
        <% end %>

    </div>


  </div>
</header>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const logoutLink = document.getElementById('logout-link');
    if (logoutLink) {
      logoutLink.addEventListener('click', function(event) {
        event.preventDefault();

        const token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

        fetch('/logout', {
          method: 'DELETE',
          headers: {
            'X-CSRF-Token': token
          }
        })
        .then(response => {
          if (response.redirected) {
            window.location.href = response.url;
          }
        })
        .catch(error => {
          console.error('Error logging out:', error);
        });
      });
    }
  });
</script>