<div class="productDetails">
    <div class="productDetailsContainer">
        <img src="<%= @product.image%>"/>
        <p class="productDetailName"><%= @product.name%></p>
    </div>

    <div class="productDistributors">

        <% @productSource.each do |productSource| %>
            <div class="distributer">
                <a href="<%= productSource.link%>" class="distributerDetails">
                    <div class="details">
                        <img src="<%= productSource.image%>"/>
                        <p><%= productSource.name%></p>
                    </div>
                    <div class="price">
                        <p><%= productSource.price%></p>
                    </div>
                </a>
            </div>
        
        <% end %>
        
        
    </div>
</div>

<!-- *docs: https://chartkick.com-->
<%= line_chart @price_records, title: "Pris historie", xtitle:"Dato", ytitle:"Pris", thousands:" ", suffix:" kr" %>

